@model KendoMvcApp.Models.Employee



<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<KendoMvcApp.Models.Employee>()
    .Name("EmpGrid")
    .Selectable()
    .Columns(columns =>
    {
        columns.Bound(c => c.EmployeeID);
        columns.Bound(c => c.FirstName);
        columns.Bound(c => c.LastName);

    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetAllEmployee", "Employee"))
        )
        )
</div>
    </div>

